/* Colors
- Bright Blue: hsl(224, 93%, 58%) #3065F8
- Moderate Cyan Blue green: hsl(170, 45%, 43%) #3C9F8F

### Neutral

- Light Grayish Blue almost ivory: hsl(240, 75%, 98%) #F6F6FE
- medium Gray: hsl(0, 0%, 75%) #BFBFBF

Very Dark Blue: hsl(243, 87%, 12%) #070439 footer
- Desaturated Blue: hsl(238, 22%, 44%) #585989 footer above
*/

/* Global */
html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
* {
    font-size: 17px;
}
.float-right {
    float: right;
}
input {
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 32px;
}
h1, h2, a {
    font-family: 'Raleway', sans-serif;
}
li {
    list-style: none;  
}
a {
    text-decoration: none;
    color: #F6F6FE;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.btn {
    background: #3065F8;
    border-radius: 4.5px;
    filter: drop-shadow( 0px 1px 8px #304FA6);
}
.input {
    border-radius: 4.5px;
}

/* Header */
nav a {
    color: black;
    font-size: 16.5px;
}
.cta-2-img {
    background-image: url(images/illustration-2.svg);
    position: absolute;
    width: 100%;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 541px;
}

/* CTA 2 */
.cta-2 a {
    color:#3C9F8F ;
    border-bottom: 1px solid #3C9F8F ;
    padding-bottom: 3px;
    float: left;
}
.cta-2 a::after {
    content: url(images/icon-arrow.svg);
    width: 10px;
    height: 10px;
}

/* CTA 3 */
.cta-3-bg {
        background-color: #585989;
        width: 100vw;
        height: 20em;
        z-index: -1000;
        left: 0;
}
.cta-3 h1, .cta-3 p {
    color: white;
}

/* Testimonial */
.testimonial {
    margin-top: 6em;
    background: white;
    filter: drop-shadow(0px 7px 13px lightgray);
    padding: 3em 1em 1em 2em;
    border-radius: 0.5em;
    width: 25em;
    position: relative;
}
.testimonial p:first-child {
    line-height: 1.8em;
    margin: 0;
}
.testimonial p:first-child::before {
        content: url(images/icon-quotes.svg);
        width: 100%;
        position: absolute;
        left: 35px;
        top: 27px;
}
.testimonial p:last-child {
    clear: right;
    display: inline-block;
    padding-top: 10px;
    padding-left: 1em;
}
.testimonial-img {
    display: block;
    margin-top: 1.8em;
    border-radius: 5em;
    width: 33px;
    align-self: center;
    float: left;
}

/* footer */
footer {
    color:#F6F6FE ;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: #070439;
}

footer a {
    display: block;
    padding: 1em 0;
}
#about li:hover {
    color: black !important;
}
/* media queries */

    /* Screen Sizes
    Laptop: 1024px w
    ipad: 768px w
    iphone: 375px w
    */
    
/* Screens 375px and up */
@media screen and (min-width: 375px) {
    /* Header */
    header {
        padding: 31px 39px 0 39px;
        text-align: center;
    }
    li {
        list-style: none;
        text-align: center;
    }
    .logo {
        margin-left: -2.5em;
    }
    /* CTA 1 */
    .cta-1 {
            margin: 6em 0;
    }
}
/* Screens 375px and down */
@media screen and (max-width: 767px) {
    .btn {
        margin-top: 1em;
    }
    .container {
        padding: 0 39px;
    }
    .testimonial {
        width: 17em;
    }
    .cta-2-img {
        height: 396px;
        top: 951px;
        right: -11px;
    }
    .cta-3 {
        padding-top: 0.1em;
    }
    /* CTA 3 */
    .form-2 {
        padding-bottom: 3em;
    }
    .icons {
        text-align: center;
    }
}
/* Screens 640px and up */
    @media screen and (min-width: 640px) {
        /* Header */
        header {
            padding: 65px 79px 0 79px;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end; 
        }
        li {
            display: inline-block;
            padding: 0 1.5em;
        }
        .hero-img {
            right: 82px;
        }
    }
/* Screens 768px and up */
@media screen and (min-width: 768px) {
    .container {
        padding: 0 79px;
    }
    .col-wide {
        width: 70%;
        float: left;
    }
    .col-narrow {
        width: 30%;
        float: right;
    }
    header {
        padding: 31px 39px 0 39px;
        text-align: center;
    }
    .cta-2-img {
        height: 406px;
        top: 641px;
        right: 82px;
    }
    .cta-3 {
        padding-top: 2em;  
    }
    .form-2 {
        padding-bottom: 3em;
        margin-top: 2em;
    }
    .footer-grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Screens 768px and down */
@media screen and (max-width: 768px) {
    .testimonial {
        display: inline-block;
    }
    .cta-3 {
        margin-top: 6em;
    }
}
/* Screens 800px and up */
@media screen and (min-width: 800px) {
    .hero-img {
        background-image: url(images/illustration-1.svg);
        width: 100%;
        max-width: 630px;
        height: 469px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -100;
    }
    .home-grid {
        padding-bottom: -30em;
        display: grid;
        grid-column-gap: 10em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "one two"
            "three four"
            "five six"
            "seven eight";
    }
    .cta-1 {
        grid-area: one;
        margin-top: 100px;
        width: 476px;
    }
    .form-1 {
        width: inherit;
    }
    .cta-2 {
        grid-area: five;
        margin-top: -81px;
    }
    .cta-2-img {
        height: 406px;
        top: 1041px;
        right: 82px;
    }
    .cta-3 {
        grid-area: seven;
        align-self: end;
    }
}
/* screens 1440px and down */
@media screen and (max-width: 1440px) {
        /* global */
            
        .btn {
            padding: 6px 12px;
        }
    }