/* -----------------------------------Global */

/* Colors
- Bright Blue: hsl(224, 93%, 58%) #3065F8
- Moderate Cyan Blue green: hsl(170, 45%, 43%) #3C9F8F

### Neutral

- Light Grayish Blue almost ivory: hsl(240, 75%, 98%) #F6F6FE
- medium Gray: hsl(0, 0%, 75%) #BFBFBF

Very Dark Blue: hsl(243, 87%, 12%) #070439 footer
- Desaturated Blue: hsl(238, 22%, 44%) #585989 footer above



*/

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

* {
    font-size: 17px;
}
body {
    /* background: black; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.allcontainer {
    width: 94%;
    margin-left: 79px;
    margin-top: 2.5em;
    margin-right: 79px;

}
h1 {

        font-size: 32px;
}
h1, h2, a {
    font-family: 'Raleway', sans-serif;
}
li {
    /* background: pink; */
    list-style: none;  
}

a {
    text-decoration: none;
    color: #F6F6FE;
    /* background: chartreuse; */
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.btn {
    background: #3065F8;
    border-radius: 4.5px;
    padding: 13px 12px;
    filter: drop-shadow( 0px 1px 8px #304FA6);
}
.input {
    border-radius: 4.5px;
}
/* ------------------------------------------------------Header */
.bgimgtop {
    background-image: url(images/illustration-1.svg);

width: 100%;

max-width: 630px;

height: 469px;

position: absolute;

background-repeat: no-repeat;

background-size: contain;

right: 82px;

z-index: -100;
}
header {
    padding: 65px 79px 0 79px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
}
nav a {
    color: black;
    font-size: 16.5px;
}
li {
    display: inline-block;
    padding: 0 1.5em;

}
/* .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* ---------------------------------------------------------main */
/* -----------------------------------------------------info top */
.startedgrid {
    display: grid;
    grid-column-gap: 0.7em;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}
.infogrid {
    padding-bottom: -30em;
    display: grid;
    grid-column-gap: 10em;
    /* grid-row-gap: 8em; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
                        "one two"
                        "three four"
                        "five six"
                        "seven eight"
    ;
}
.infotop {
    grid-area: one;
    margin-top: 100px;
}

/* -----------------------------------------------------info bottom */
.bgimgbottom {
    background-image: url(images/illustration-2.svg);

    width: 100%;
    
    max-width: 541px;
    
    height: 406px;
    
    background-repeat: no-repeat;
    
    top: 1041px;
    
    position: absolute;
    
    z-index: -100;
    
    background-size: contain;
    
    right: 82px;
}
.access {
    grid-area: seven;
    align-self: end;
    margin-bottom: 88px;
}
.access h1, .access p {
    color: white;
}
.access-bg {
    background: #585989;
    background-color: #585989;
    height: 323px;
    width: 100%;
    position: absolute;
    z-index: -1000;
    bottom: 0;
    left: 0;
    top: 1945px;
}
.infobottom {
    grid-area: five;
    margin-top: -70px;
}
.underline {
    color:#3C9F8F ;
    border-bottom: 1px solid #3C9F8F ;
    padding-bottom: 3px;
    float: left;
}
.arrow {
    display: inline-block;
    padding-top: 5px;
    padding-left: 4px;
}
.testimonial {
    margin-top: 6em;
    background: white;
    filter: drop-shadow(0px 7px 13px lightgray);
    padding: 3em 1em 1em 2em;
    border-radius: 0.5em;
    width: 25em;
    position: relative;
}
.testimonial p:first-child {
    line-height: 1.8em;
    margin: 0;
}
.quotes {
    position: absolute;
    left: 35px;
    top: 27px;
}
/* .testinfoflex {
    display: flex;
    justify-content: space-evenly;
} */
.testname {
    /* align-self: center; */
    /* float: right; */
    clear: right;
    
    display: inline-block;
    padding-top: 10px;
    padding-left: 1em;
}
.testimonialimg {
    display: block;
    margin-top: 1.8em;
    border-radius: 5em;
    width: 33px;
    align-self: center;
    float: left;
}
/* --------------------------------------------------------footer */

footer {
    color:#F6F6FE ;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: #070439;
    
}
/* -----------------------------------------------------footer top */
.freegrid {
    grid-gap: 0.7em;
    display: grid;
    align-content: center;
    grid-area: eight;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                "one two three"
                "four five six"
    ;
    align-items: center;
}
.fginput {
    grid-area: four;

    grid-column-start: four;
    grid-column-end: four;

    grid-column: 1 / 4;

    align-self: center;

    border-radius: 4.5px;

    padding: 13px;

    margin-bottom: 130px;

    margin-right: 123px;
}
.fgbutton {
    grid-area: four;
    align-self: center;
    grid-column: 1/3;

    margin-right: 140px;
}

/* -----------------------------------------------------grid bottom */

.gridbottom {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);

}

/* --------------------------------media queries */

@media screen and (max-width: 375px) {
    header {
        padding: 31px 39px 0 39px;
    }
}
